.channel-list {

  li {
    padding: 2px 0px 6px 25px;
  }

  a {
    color: lightgray;
    text-decoration: none;
    font-size: 15px;
  }

  li:hover {
    // border: 1px solid black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-right: 10px;
    background-color: darken($skyblue, 58);
  }
}

.pound-sign {
  font-weight: lighter;
  color: darken(lightgray, 15)
}

.channel-directmessage-heading {
  font-size: 16px;
  padding-left: 11px;
  padding-bottom: 1px;
  margin-bottom: 5px;
}

.channel-directmessage-heading:hover {
  color: white;
  font-weight: bold;
}

.channel-unique a {
  color: white;
  font-weight: lighter;
  font-size: 15px;
}

.selected {
  background-color: red;
}

.channels-icon {
  padding-right: 100px;
}

.dm-icon {
  padding-right: 43px;
}
