.channel-list {
  a {
    display: block;
    color: lightgray;
    text-decoration: none;
    font-size: 15px;
    padding: 5px 0px 8px 20px;
  }

  li:hover {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: darken($skyblue, 58);
  }
}

.pound-sign {
  font-weight: lighter;
  color: darken(lightgray, 15)
}

.channel-directmessage-heading {
  font-size: 16px;
  padding-left: 11px;
  padding-bottom: 1px;
  margin-bottom: 5px;
}

.channel-directmessage-heading:hover {
  color: white;
  font-weight: bold;
}

.selected {
  background-color: darken(orange, 12);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.channels-icon {
  padding-right: 100px;
}

.dm-icon {
  padding-right: 43px;
}

.delete-channel-icon {
  position: absolute;
  right: 12px;
  margin-top: 3px;
  color: darken($skyblue, 50);
}

.delete-channel-icon:hover {
  color: darken(red, 15);
}

.channels-heading {
  margin-top: 20px;
}
