.left-column-container {
  height: 85%;
  list-style-type: none;

  h1:hover {
    cursor: pointer;
  }

  a:hover {
    cursor: pointer;
  }
}

.profile-container {
  height: 60px;
}

.profile-container:hover {
  // cursor: pointer;
}

.channels-container {
  li:last-child {
    margin-bottom: 25px;
  }

}

.left-column-div {
  min-width: 220px;
  height: 100%;
}

.personal-info-container {
  display: flex;
  justify-content: flex-start;

  a {
    text-decoration: none;

  }

  i {
    padding-left: 20px;
    padding-right: 20px;
  }

  i:first-child {
    padding-left: 35px;
  }

  i:last-child {
    padding-right: 20px;
  }

  i:hover {
    font-size: 20px;
    cursor: pointer;
  }
}

.intro {
  font-size: 14px;
  font-family: 'Poiret One', cursive;

  li {
    margin-left: 20px;
    list-style-type: none;
  }

  li:last-child {
    font-style: italic;
    font-weight: bolder;
    margin-bottom: 15px;
    margin-top: 10px;
  }

}
