.profile-container {
  cursor: normal;

  i:hover {
    cursor: pointer;
    color: white;
  }
}

.welcoming {
  font-size: 18px;
  color: white;
  font-weight: bold;

  span {
    width: 100px;
  }
}

.welcoming-container {
  padding: 12px 0px 5px 15px;

  li {
    list-style-type: none;
  }
}

.welcoming-container:hover {
  border-top-right-radius: 5px;
}

.profile-username {
  font-size: 13.5px;
}

.profile-icon {
  margin-left: 16px;
  color: gray;
  z-index: -1;
}

.user-modal {
  display: flex;
  justify-content: flex-start;
  width: auto;

  ul {
    padding-left: 10px;
  }

  li {
    list-style-type: none;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    font-size: 14px;
  }

  li:first-child {
    font-weight: bold;
    font-size: 16px;
  }

  ul div {
    border-top: 1px solid $lightpurple;
    margin: 10px 0px 10px 0px;
  }

  img {
    width: 80px;
    height: 80px;
    object-fit: cover;
  }
}

.user-options {
  font-size: 13px;
  padding: 5px;
  text-align: center;
  background-color: $lightpurple;
  border-radius: 3px;
  cursor: pointer;
}

.profile-edit-icon {
  padding-left: 85px;
  color: lightgray;
}

.logout-icon {
  margin-left: 5px;
  color: lightgray;
}

.img {
  object-fit: cover;
}

.sample-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
