.profile-container {
  position: relative;
  cursor: normal;

  i:hover {
    cursor: pointer;
    color: white;
  }
}

.welcoming {
  font-size: 18px;
  color: white;
  font-weight: bold;

  span {
    width: 100px;
  }
}

.welcoming-container {
  padding: 12px 0px 5px 15px;

  li {
    list-style-type: none;
  }
}

.welcoming-container:hover {
  border-top-right-radius: 5px;
}

.profile-username {
  font-size: 13.5px;
}

.profile-icon {
  margin-left: 16px;
  color: gray;
  z-index: -1;
}

.user-modal {
  position: relative;
  display: flex;
  justify-content: flex-start;
  width: auto;

  ul {
    padding-left: 10px;
  }

  li {
    list-style-type: none;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    font-size: 14px;
  }

  li:first-child {
    font-weight: bold;
    font-size: 16px;
  }

  ul div {
    border-top: 1px solid $lightpurple;
    margin: 10px 0px 10px 0px;
  }

  img {
    width: 80px;
    height: 80px;
    object-fit: cover;
  }
}

.user-options {
  font-size: 13px;
  padding: 5px;
  text-align: center;
  background-color: $lightpurple;
  border-radius: 3px;
  cursor: pointer;
}

.profile-edit-icon {
  padding-left: 85px;
  color: lightgray;
}

.logout-icon {
  margin-left: 5px;
  color: lightgray;
}

.img {
  object-fit: cover;
}

.sample-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin: 6px 0px 3px 0px;
}

.edit-profile-container {
  position: relative;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  width: 300px;
  height: 535px;

  li {
    display: inline;
    list-style-type: none;
  }

  button {
    text-align: center;
    width: 310px;
    padding: 5px 0px 5px 0px;
    color: black;
    background-color: darken($lightpurple, 10);
    border-radius: 5px;
    margin-top: 6px;
    margin-bottom: 6px;
  }

  input {
    float: left;
    width: 278px;
    border: 1px solid $lightpurple;
    padding: 5px 10px 5px 10px;
    margin: 5px 0px 5px 0px;
  }

  h1 {
    margin: 20px 0px 0px 0px;
  }

  .user-edit-errors {
    color: red;
    font-size: 12px;
    padding-right: 10px;
  }
}
