.front-page-container {
  background-color: white;
  height: 100vh;
  font-family: sans-serif;

  ul {
    position: relative;
    top: 290px;
    left: 50px;

    li {
      font-size: 150px;
      font-family: 'Crushed', cursive;
      color: $skyblue;
    }

    li:first-child {
      color: $lightpurple;
    }

    li:last-child {
      color: $bluepurple;
    }
  }

}

.front-page-header-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 5px solid $bluepurple;
  padding: 15px 15px 15px 0px;
}

.front-page-body-container {
  display: flex;
  justify-content: space-between;

  ul {
    li {
      list-style-type: none;
    }
  }
}

.login-container {
  span {
    padding-right: 240px;
    color: $bluepurple;
    font-size: 16px;
  }

  form {
    input {
      margin-right: 10px;
      padding: 5px 20px 5px 5px;
      border-radius: 5px;
      font-size: 25px;
      border: 1px solid $bluepurple;
      color: black;
    }

    input:last-child {
      padding-right: 5px;
      color: white;
      background-color: $bluepurple;
    }
  }

}

.signup-container {
  position: relative;
  right: 230px;
  color: $lightpurple;

  h3 {
    font-size: 50px;
  }

  input {
    margin-right: 10px;
    padding: 5px 20px 5px 5px;
    border-radius: 5px;
    border: 1px solid $lightpurple;
    margin: 3px;
  }
  //
  // input:last-child {
  //   color: white;
  // }


}

.emailLabel {
  padding-right: 32px;
}

.slicklogo {
  width: 70px;
  height: 70px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 100%;
}

.longerInput {
  width: 385px;
}

.shiftSpace {
  padding-right: 2px;
}

.join-button {
  width: 485px;
  color: white;
}
