.front-page-container {
  background-color: white;
  height: 100%;
  font-family: sans-serif;

  background: url('background.png');
  background-size: 10% 15%;
  background-repeat: no-repeat;
  background-position: 55% 95%;

  ul.motto {
    position: relative;
    bottom: 10%;
    top: 30%;
    left: 50px;

    li {
      font-size: 150px;
      font-family: 'Indie Flower', cursive;
      color: $skyblue;
    }

    li:first-child {
      color: $lightpurple;
    }

    li:last-child {
      color: $bluepurple;
    }
  }

}

.front-page-header-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 5px solid $bluepurple;
  padding: 15px 15px 15px 0px;
  background-color: white;
}

.front-page-body-container {
  display: flex;
  justify-content: space-between;

  ul.motto {
    li {
      list-style-type: none;
    }

    li:first-child {
      margin-top: 10%;
    }
  }
}

.login-container {
  span {
    padding-right: 240px;
    color: $bluepurple;
    font-size: 16px;
  }

  form {
    input {
      margin-right: 10px;
      padding: 5px 20px 5px 5px;
      border-radius: 5px;
      font-size: 25px;
      border: 1px solid $bluepurple;
      color: $bluepurple;
    }

    input:last-child {
      padding-right: 5px;
      color: white;
      background-color: $bluepurple;
    }
  }

}

.signup-container {
  position: relative;
  right: 13%;
  color: $lightpurple;

  h3 {
    font-size: 50px;
  }

  input {
    margin-right: 10px;
    padding: 5px 20px 5px 5px;
    border-radius: 5px;
    border: 1px solid $lightpurple;
    margin: 3px;
    color: $lightpurple;
  }

  .join-button {
    color: white;
  }

  .signup-turn-color:focus {
    color: $skyblue;
  }
}

input::placeholder {
  color: lightgray;
}

.signup-container:hover {
  transition: color .5s ease-in-out;
  color: $skyblue;

  input {
    transition: border .5s ease-in-out;
    border: 1px solid $skyblue;
    color: $skyblue;
  }

  .join-button {
    transition: background-color .5s ease-in-out;
    background-color: $skyblue;
    color: white;
  }

  div hr {
    transition: border .5s ease-in-out;
    border: 0.1px solid $skyblue;
  }
}

.shift-your-name {
  margin-right: 0px;
}

.shift-username {
  margin-right: 3px;
}

.shift-email {
  margin-right: 36px;
}

.shift-password {
  margin-right: 6px;
}

.slicklogo {
  width: 70px;
  height: 70px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 100%;
}

.longerInput {
  width: 385px;
}

.join-button {
  width: 98%;
  color: white;
}

div hr {
  border: 0.1px solid $lightpurple;
  width: 98%;
  margin-right: 41%;
}

.error-messages {
  list-style-type: none;
  font-family: sans-serif;
  font-size: 13.5px;
  color: red;
  // padding-top: 2px;
}

.welcome-message {
  color: $bluepurple;
  font-size: 25px;
  vertical-align: 50%;
  margin-top: 20px;
  font-family: 'Gloria Hallelujah', cursive;
}

.login-button, .join-button {
  cursor: pointer;
}

#button:active {
  position: relative;
  top: 1px;
}
