.channel-detail-container {
  width: 100%;
  // display: flex;
//   justify-content: space-between
}

.channel-detail {
  padding: 5px 0px 8px 20px;
}

.channel-title {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 5px;
}

.channel-info {
  font-size: 13px;
  color: darken(lightgray, 35);
  font-weight: lighter;

  span {
    padding: 0px 10px 0px 10px;
  }
}

.invite-icon, .channel-setting-icon {
  // float: right;
  padding: 0px 0px
}

.group:after {
  content: "";
  display: table;
  clear: both;
}
