.input-message {
  width: 96%;
  height: 55%;
  border: 1.5px solid darkgray;
  // margin: 1.5% 2% 5% 1%;
  border-radius: 5px;
  padding-left: 1%;
  font-weight: lighter;
  color: darken(darkgray,50);
  text-align: start;
}

.input-message:focus {
  border: 1.5px solid darken(darkgray,20);
  transition: border 0.5s ease-in-out;
}


.input-container-div {
  height: 100%;
  text-align: center;
  vertical-align: middle;
  display: table;
  width: 100%;
}

input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: gray;
}

.input-form-container {
  height: 100%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
