.input-message {
  width: 96%;
  height: 55%;
  border: 1.5px solid darkgray;
  margin: 1.5% 2% 5% 1%;
  border-radius: 5px;
  padding-left: 1%;
  font-weight: lighter;
  color: darken(darkgray,50);
}


.input-container-div {
  height: 100%;
}

input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: $lightpurple;
}
// :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
//    color:    #909;
//    opacity:  1;
// }
// ::-moz-placeholder { /* Mozilla Firefox 19+ */
//    color:    #909;
//    opacity:  1;
// }
// :-ms-input-placeholder { /* Internet Explorer 10-11 */
//    color:    #909;
// }
// ::-ms-input-placeholder { /* Microsoft Edge */
//    color:    #909;
// }
