.individual-message-container {
  display: flex;
  justify-content: flex-start;
  padding: 10px 0px 10px 20px;
  max-width: 100%;
}

.profile-pic {
  border-radius: 3px;
  margin-right: 10px;
  width: 42px;
  height: 42px;
  object-fit: cover;
}

.username {
  font-size: 15px;
  color: black;
  font-weight: bold;
  padding: 5px 0px 0px 0px;
  margin-bottom: 10px;
}

.timePosting {
  font-size: 12px;
  color: gray;
  padding-left: 5px;
  font-weight: lighter;
}

.message-content {
  font-size: 15px;
  font-weight: lighter;
  width: 1100px;
  overflow-wrap: break-word;
  padding-top:7px;
}

.reacting-component {
  float:right;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track-piece {
  background-color: white;
  border-radius: 7px;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 7px;
    border: 1px solid white;
}


::-webkit-scrollbar-corner {
  background-color: gray;
}

.message-buttons {
  float: right;
  color: white;


  button {
    // font-size: 16px;
    padding: 0px 3px 0px 3px;
    cursor: pointer;
    font-size: 16px;
  }
}

.individual-message-container:hover {
  background-color: lighten($lightpurple, 15.3);
  transition: background-color 0.1s ease-in-out;

  i {
    color: darken($lightpurple, 15);
  }
}

.individual-message-container:focus {
  background-color: white;
}

.emoji-container {
  position: absolute;
  z-index: 3;
}

.message-edit-input-div {
  width: 100%;
}

.message-edit-input {
  border: 1.5px solid $skyblue;
  width: 98%;
  transition: width 1s;
  color: darken(darkgray,50);
  border-radius: 5px;
  padding: 7px;
  margin: 3px 0px 3px 0px;
}

.message-content {
  button {
    text-align: center;
    width: 10%;
    padding: 3px 0px 5px 3px;
    color: black;
    background-color: darken($lightpurple, 10);
    border-radius: 4px;
    margin-top: 2px;
    margin-right: 5px;
    font-size: 12px;
    font-weight: lighter;
  }

  button:hover {
    color: black;
    cursor: pointer;
  }
}

.messages-replies-count {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  margin-top: 5px;
  border-radius: 5px;
  padding: 2px;
  width: 60px;
  text-align: center;
  border: 1px solid lightgray;
  color: darken($skyblue, 20);
  cursor: pointer;
}

.edit-marker {
  font-size: 12px;
  color: gray;
  margin-left: 5px;
  font-weight: lighter;
}

.unique-user-image {
}

.replies-info {
  transition: width 1s ease-out;

  img {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    margin-top: 2px;
    position: relative;
    top: 3px;
    margin-left: 3px;
    object-fit: cover;
  }

  span {
    font-size: 10px;
    color: gray;
    margin-left: 3px;
    font-weight: lighter;
    position: relative;
    bottom: 1px;
  }
}
