.middle-right-container {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  max-height: 100vh;
  max-width: 100%;

  ul {
    li {
      list-style-type: none;
    }
  }
}

.channel-detail-container {
  height: 6%;
}

.messages-container {
  height: 85%;
  // max-height: 830px;
  overflow: scroll;
  width: 660%;
  display: flex;
  flex-direction: column-reverse;
}

.input-container {
  height: 6%;
}
