.middle-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.middle-ul {
  width: 75%;
  height: 100%;
}

.channel-detail-container {
  height: 5.9%;
  // height: 57px;
  border-bottom: 1px solid lightgray;
}

.messages-container {
  height: 86.5%;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column-reverse;
}

.input-container {
  height: 7.5%;
}


.right-container {
  height: 100%;
  width: 25%;
}
