// .middle-column-container {
//   height: 100vh;
// }

.middle-right-container {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  width: 100%;

  ul {
    li {
  list-style-type: none;
    }
  }
}

.middle-container {
  height: 100%;
  width: 75%;
}

.right-container {
  height: 100%;
  width: 25%;
}
