<!DOCTYPE html>
<html>
  <head>
    <title>Slick</title>
    <script src="https://js.pusher.com/4.0/pusher.min.js"></script>

    <link rel=”shortcut icon” href=”/favicon.ico” type=”image/x-icon” />

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link href="https://fonts.googleapis.com/css?family=Poiret+One|Indie+Flower|Gloria+Hallelujah|Lato|Mystery+Quest" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
